<!doctype html>
<meta charset="utf-8">
<title>Welcome to Arena ! <%= p1 %> v.s <%= p2 %></title>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Give an text-center div for the battlefield -->
    <!--  <input id="socket.io.nsp" type="hidden" value="/<%= p1 %><%= p2 %>"> -->
    <div class="text-center">
        <div id="arena" style="height:100vh ; width:100vw"></div>
    </div>
<script src="lib/socket.io-1.4.5.js"></script>
<script src="lib/pixi.min.js"></script>
<script src="lib/howler.min.js"></script>
<script type="text/javascript" src="render-server/arena.js"></script>
<script type="text/javascript" src="render-server/minion.js"></script>
<script type="text/javascript" src="render-server/minion/orge.js"></script>
<script type="text/javascript" src="render-server/minion/mage.js"></script>
<script type="text/javascript" src="render-server/minion/healthbar.js"></script>
</body>
