<!doctype html>
<meta charset="utf-8">
<title>Pixi test</title>
<body>
  <!-- Give an text-center div for the battlefield -->
  <div id="arena"></div>
<script src="lib/socket.io-1.4.5.js"></script>
<script src="lib/pixi.min.js"></script>
<script src="lib/sound.js"></script>
<script type="text/javascript" src="render-server/game.js"></script>
<script type="text/javascript" src="render-server/minion.js"></script>
</body>
